/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}



/*ASSEMSTYLE Inc*/

/*sketch the UI*/

body {
  padding-top: 0;
  padding-bottom: 0;
}

.navbar {
  border-radius: 0;
  border: 0;
  margin-bottom: 0;
  /*z-index: 9;*/
  /*font-size: 16px;*/
  position: fixed;
  width: 100%;
}

.footer {
  text-align: center;
  background-color: black;
  min-height: 50px;
}


/*custom navbar*/

.navbar-inverse {
	background-color:#000000;
    color:#fff;
}

.navbar-inverse li>a:hover,.navbar-inverse li>a:focus,.navbar-inverse li.active {
	background-color:#ce7500 !important;
}

.navbar-inverse a{
    color:#fefefe !important;
}

/*other*/



img{
  -webkit-transition: all 0.7s ease-out;
  -moz-transition: all 0.7s ease-out;
  -o-transition: all 0.7s ease-out;
  transition: all 0.7s ease-out;
}

.section {
  min-height: 1000px;
  text-align: center;
  display: table;
  width: 100%;
  /*position: relative;*/
}

@media screen and (min-width: 768px) {
  .section h1 {
    font-size: 7em;
  }
  .section p {
    font-size: 3em;
  }
}

.intro {
  display: table-cell;
  vertical-align: middle;
  padding: 0 80px;
}

/*specific*/

#introduction {
  background-image: url(../images/b.jpg);
  background-size: cover;
  color: #ec3645;
}

#assemble {
  background-color: #109a6e;
  color: white;
}

#designer {
  background-color: #9f0b0b;
  color: white;
}

#threed {
  background-color: #af300a;
  color: white;
}

#idea {
  background-color: #525252;
  color: white;
}

/*phone*/

.section {
  min-height: 800px;
}
