<div id="fullpage">
  <div class="section" id="introduction">
    <div class="intro">
      <h1>Assemble Your Style</h1>
      <p>Hi young man, you need a jewelry, seriously.</p>
    </div>
  </div>
  <div class="section" id="assemble">
    <div class="intro">
      <h1>Assemble</h1>
      <p>You can choose from tons of components to make your own jewelry.</p>
    </div>
  </div>
  <div class="section" id="designer">
    <div class="intro">
      <h1>Designer</h1>
      <p>We have professional designers to create creative staff for you to pick.</p>
    </div>
  </div>
  <div class="section" id="threed">
    <div class="intro">
      <h1>3D print</h1>
      <p>Want to have a beautiful thing appear in a movie? No Problem! We can print it for you.</p>
    </div>
  </div>
  <div class="section" id="idea">
    <div class="intro">
      <h1>One More Thing</h1>
      <p>You design, we make it a delicate gift for you in 24 hours.</p>
    </div>
  </div>
</div>



<!-- <div class="jumbotron">
  <h1>Assemble Your Style</h1>
  <p class="lead">
    Hi young man, you need a jewelry, seriously.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#">Start Assemble!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <h4>Philosophy</h4>
  <p>
    Assemble a Jewelry to fit your style never gets simpler.
  </p>

  <h4>About US</h4>
  <p>We are active! We are enthusiasm!</p>
</div> -->
